
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .main {
    transition: margin-left .5s;
    padding: 16px;
  }

  .openNav {
      font-size: 30px;
      cursor: pointer;
  }

  .snap-shots {
      float: right;
  }

  
  .video {
      width: 500px;
      height: 400px; 
      margin-left: 100px;
      
  }
   

  .section {
    text-align: center; 
    display: inline-flexbox;
    
  }

  .mainButton {
    margin-top: 40px;
    margin-left: 40px;
  }


  .sidebar {
    margin-top: 80px;
    margin-right: -40px;
    width: 250px;
    height: 500px;
    float: right;
    background-color: #ddd; 
    overflow-x: hidden;
    overflow-y: scroll;

  }

  .deleteAll{
    margin-left: 60px;
    margin-bottom: 20px;
    
  }

  .data {
    margin-top: 20px;
  }

  .deletecanvas, .downloadcanvas, .deletevid {
    cursor: pointer;
    margin-left: -50px;
    margin-right: 40px;
  }

  .deletecanvas, .deletevid {
    color: red;
  }

  .download {
    color: green;
  }

  .deletecanvas:hover, .deletevid:hover { 
    color: red;
    transition: 0.3s;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Modal Close Button (x) */

  .notify {
    width: 50px;
    border-radius: 30px;
    background-color: crimson
  }

  .notify:hover {
    background-attachment: fixed;
    background-color: crimson
  }


  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  
  .options {
    display: inline-block;
  }

  .link {
    color: white;
  }
  .link:hover  {
    color: white;
  }

  .lipic {
    list-style: none;
  }

  .align {
    display: inline-flex; 
  }

  canvas  {
    margin-left: -40px; 
    margin-top: 30px;
    cursor: pointer;
  }

  canvas:hover {
   transition: 0.3s;
  }

  .dropdown-class {
    display: inline-block;
   margin-left: -50px;
   margin-right: 40px;
  }

  .nameImage {
    width: 100px;
    margin-left: -30px;
    margin-right: 70px;

  }

  .savebtn, .vidbtn {
    width: 50px;
    margin-top: -90px;
    float: right;
    border-radius: 30px;
  }


  .popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: hidden;
    position: fixed; 
    border-radius: 30px;
    width: 40%;
    left: 25%;
    right: 70%;
    background-color: lightgreen
  }
  
  .popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: visible;
    text-align: center;
  }
  
  .popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: hidden;
  }
  
  .popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: visible;
  }
  
  button {
    display: inline-block;
    vertical-align: middle;
    
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
  }
  
  button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
  }