@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }


  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  @keyframes spin { 
    from { 
      transform: rotate(0deg); 
    } to { 
      transform: rotate(360deg); 
    }
  }
  
  * {
    box-sizing: border-box;
  }
  