.spin .spinner {
    left: -.6em;
    top: .4em;
    width: 2.5em;
    display: block;
    position: absolute;
  }
  
  /* spinner animation */
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* The actual spinner element is a pseudo-element */
  .spin .spinner::before {
    content: "";
    width: 1.5em; /* Size of the spinner */
    height: 1.5em; /* Change as desired */
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: solid .35em #999; /* Thickness/color of spinner track */
    border-bottom-color: #555; /* Color of variant spinner piece */
    animation: .8s linear infinite spinner; /* speed of spinner */
    transform: translate(-50%, -50%);
    will-change: transform;
  }


  .inner-container {
    position: absolute;
    overflow: hidden;
    background: #D3D3D3;
    border: 1px solid #000;
    width: 100%;
    max-width: 640px;
    height: 420px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .shutter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .shutter:active {
    display: block;
    z-index: 10;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360%;
    height: 300%; 
  }


  .insidesec {
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    z-index: 5;
    font-family: 'Open Sans';
  }

  .js-play-btn {
    cursor: pointer;
    background: rgb(40, 40, 40);
    color: #ffffff;
    font-size: 14px;
    padding: 10px 40px;
    border: 1px solid rgb(40, 40, 40);
  }
